/* STYLE */

*{	margin:0; padding:0;	}
body{font-family: arial ; font-size: 16px; color:#333;}

img{height: 70px}
footer{	
	height: 60px; padding:10px 0;
	background-color:#48D1CC; color:#052928;
	text-align:center; font-size:12px;
}
/*class*/


/*id*/

#conteudo{	padding:100px 0;	}

#menu{float:right; padding:40px 0;}
#menu a{text-decoration: none; padding: 20px 15px; color:#052928;}
#menu a:hover{background-color:#052928; color:#48D1CC; border-radius: 8px;}